<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../assets/custom-css/cadastro.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container-fluid">
        <div class="alert alert-success text-center mt-3 mb-3 pt-4 pb-4 text-secondary" role="alert">
            Emitido em: <strong>{{horarioEmissao}}</strong>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-warning text-center mt-3 mb-3" role="alert">
            Nenhuma empresa liberada nessa data.
        </div>
    </div>

</body>
</html>