<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../assets/custom-css/cadastro.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table id="myTable" class="table table-bordered table-hover">
        <thead class="label-cadastro">
            <tr class="table-success">
                <th scope="col">Número</th>
                <th scope="col">Nome</th>
                <th scope="col">Vencimento</th>
                <th scope="col">Competência</th>
                <th scope="col">Upload</th>
                <th scope="col">Guia</th>
                <th scope="col">Sem Guia</th>
                <th scope="col">Em Conjunto</th>
            </tr>
        </thead>
        <tbody class="label-cadastro">
            <tr>
                {{linhasTabela}}
            </tr>
        </tbody>
    </table>
</body>
</html>